{% comment %}
<!--
This template adds an up-down arrow intended for visualizing change in a metric.

Usage: {% arrow canvas_id data %} where
canvas_id: the id of the canvas the arrow will be drawn in
data: a json datastructure that contains the data for parameterizing the arrow, which would typically have been
      created using the Arrow data class defined in arrow.py

Dependencies: none (implemented using html canvas)
-->
{% endcomment %}

{% load static %}

<!-- up-down arrows can be styled using the appropriate container and/or canvas classes defined below.
Note that the canvas should be styled to be at least as tall as it is wide, and ideally somewhat taller than it is
wide if base_align is set to 'center'.
canvasres is the ratio of canvas pixels to screen pixels; in theory, 1 should work fine, but oversampling seems
to work better here for crisp-looking results
-->
<div class="viz-component-container viz-component-arrow-container">
    <canvas is="delta-arrow"
            data-arrowdata="{{data}}"
            data-canvasres=2,
            class="viz-component-canvas viz-component-arrow-canvas"
            id={{canvas}}></canvas>
    <div id="{{canvas}}tooltip" class="viz-component-arrow-tooltip">
        <span id="{{canvas}}tooltiptext" class="viz-component-arrow-tooltiptext">''</span></div></div>
