{% comment %}
<!--
This template adds a custom horizontal bar chart for visualizing progress in several metrics towards a goal
The chart is implemented using Chart.js.
It shows two bars for each metric, one of which would typically be a reference to compare current
status to. Also shown is a target, which would usually be the 100% mark and is represented by a vertical line.
Parameters for the chart would usually come from the BarChart dataclass defined in bar_chart.py.

Usage: {% bar_chart canvas_id chartdata chartopts %} where
canvas_id: the id of the canvas the chart will be created in
chartdata: a json datastructure that contains the data for the chart
           see Chart.js documentation for how this should be structured
chartopts: a json datastructure that contains options for further customization of the chart
           see Chart.js documentation for what options are available

Dependencies: Chart.js

-->
{% endcomment %}

{% load static %}

<!-- bar charts can be styled using the appropriate container and/or canvas classes defined below -->
<div class="viz-component-container viz-component-bar-chart-container">
    <canvas is="bar-chart"
            data-chartdata="{{chartdata}}"
            data-chartopts="{{chartopts}}"
            class="viz-component-canvas viz-component-bar-chart-canvas"
            id={{canvas}}></canvas></div>


